@charset "UTF-8";
body{
	background-color: lightgrey;
	padding: 3vw;
}

.title{
	margin: 30px 50px 40px;
	font-size: 50px;
}

.topLink{
	position: fixed;
	top: 20px;
	right: 60px;
	width: 10% !important;
	color: black;
	text-decoration: none;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.button{
	font-size: 1.5vw;
	display: inline;
	background-color: lightblue;
	border: 1px solid blue;
	box-shadow: 2px 2px 2px blue;
	border-radius: 5px;
	width: 30%;
	height: 40px;
	margin: 1vw;
}
.button:hover{
	background-color: darkblue;
	color: white;
	border-radius: 25px;
}
.button2{
	font-size: 1.5vw;
	display: inline;
	background-color: rgb(165, 167, 176);
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
	width: 30%;
	height: 40px;
	margin-left: 20px;
}
.button2:hover{
	background-color: darkblue;
	color: white;
	border-radius: 25px;
}
.notLink{
	text-decoration: none;
	color: black;
	padding: 1vw;
}

.form{
	width: 90%;
	margin: 0 auto 20px;
	line-height: 40px;
}

.input{
	width: 60%;
}

.errors{
	color:red;
	text-decoration: underline;
	font-weight: bold;
}

.validation{
	color: red;
	display: block;
}

.add{
	width: 100%;
	display: flex;
	column-gap: 8%;
	padding: 0px 6%;
}